html, body {
  font-family: "Ubuntu Mono", monospace;
  margin: 0px;
  height: 100%;
  width: 100%; }

h1 {
    color:black;
    transition: color 0.5s ease-in-out;
}

fnt {
  font-size: medium;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

#user {
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  margin-right:-4px;
}

.hidden{
  display: none;
}

.view {
  display: block;
}

#btnGroup button {
  border: 1px solid black; 
  background-color: rgba(0,0,0,0); 
  color: black; 
  padding: 5px;
  width:100px;
}
#btnGroup button:hover{ 
  color:white; 
  background-color: black; 
}
#btnLogin {
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  margin-right:-4px;
}

div{ word-wrap: break-word; word-break: normal; } 


  